/* Judson - Para encabezados */
@font-face {
    font-family: "Judson";
    src: url('../fonts/judson-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Poppins - Para cuerpo */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}