/* SliderHome*/
.sliderGallery {
    width: 100%;
    height: auto;
    background: #f4f4f4;
    border-radius: 20px;
}

.imgGallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nextGall{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid #ffff;
    cursor: pointer;
    transition: 400ms;

    &:hover {
        background: #f4f4f4;
        color: black;
    }
}

.prevGall{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid #ffff;
    cursor: pointer;

    &:hover {
        background: #f4f4f4;
        color: black;
    }
}

.disabled{
    display: none;
}

@media (max-width: 640px) {
    .nextGall{
        width: 40px;
        height: 40px;
    }

    .prevGall{
        width: 40px;
        height: 40px;
    }
}