---

---

<footer class="bg-sky-900">
    <div class="container mx-auto text-center py-20">
        <div class="flex justify-center flex-wrap gap-5">
            <a
                class="text-white font-bold hover:text-amber-400 text-2xl"
                href="#"><i class="fa-brands fa-facebook-f"></i></a
            >
            <a
                class="text-white font-bold hover:text-amber-400 text-2xl"
                href="#"><i class="fa-brands fa-instagram"></i></a
            >
            <a
                class="text-white font-bold hover:text-amber-400 text-2xl"
                href="#"><i class="fa-brands fa-youtube"></i></a
            >
            <a
                class="text-white font-bold hover:text-amber-400 text-2xl"
                href="#"><i class="fa-brands fa-tiktok"></i></a
            >
            <a
                class="text-white font-bold hover:text-amber-400 text-2xl"
                href="#"><i class="fa-solid fa-location-dot"></i></a
            >
        </div>
        <img class="mx-auto"
            src="https://thingstodoinmadrid.jhonnycanul.pro/assets/img/logo-footer-thigns-to-do-in-madrid.webp"
            alt=""
        />
        <ul class="flex justify-center flex-wrap gap-5 text-white">
            <li><a href="#"></a><i class="fa-solid fa-angle-right"></i> About Us</li>
            <li><a href="#"></a><i class="fa-solid fa-angle-right"></i> Terms of services</li>
            <li><a href="#"></a><i class="fa-solid fa-angle-right"></i> Privacy Policy</li>
        </ul>
        <p class="text-white"> &copy; 2014 - 2022 <span class="font-bold">Things To Do In Madrid</span>. All Rights Reserved</p>
    </div>
</footer>
