---
const { title, imgSrc } = Astro.props;
---

<section
    class="bg-gray-900 bg-cover bg-center"
    style={`background: linear-gradient(rgba(0,74,124,0.5),rgba(0,74,124,0.5)), url(${imgSrc}); background-size: cover; background-repeat: no-repeat;`}
>
    <div class="container mx-auto py-40">
        <h1 class="text-5xl italic font-extrabold text-center text-white">
            {title}
        </h1>
    </div>
</section>
