---
const { title, imgSrc, gradientBg } = Astro.props;
---

<section
    class="bg-slate-200 bg-cover bg-center"
    style={`background: linear-gradient(${gradientBg}), url(${imgSrc}) center; background-size: cover; background-repeat: no-repeat;`}
>
    <div class="container mx-auto md:py-60 py-28">
        <h1 class="text-5xl italic font-extrabold text-center text-white">
            {title}
        </h1>
    </div>
</section>
